[submodule "external/ai_convo_client"]
	path = external/ai_convo_client
	url = https://github.com/jinglinstella/team2.git
	branch = hw3

[submodule "external/issue_tracker"]
	path = external/issue_tracker
	url = https://github.com/jinglinstella/Python_Template.git
	branch = hw3-revision


