# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
coverage.xml
*.log

# PyInstaller
*.manifest
*.spec

# Installer logs
debug.log

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn
